<script>
    // 受注明細行を追加する.
    // 受注明細行のレコード数カウンタ(coupon_details_count)は, edit.twig側で定義している.
    function fnAddProductDetail($row, product_id, product_name) {
        var product_class_id = null;

        // ================================================================
        // 商品情報を取得.
        // ================================================================
        var list = $('#coupon_detail_list');

        // prototype templateを取得.
        var newWidget = list.attr('data-prototype');
        // レコード数カウンタで置換.
        newWidget = newWidget.replace(/__name__/g, coupon_details_count);
        // フォーム入力値をセットm
        $newWidget = $(newWidget);

        $newWidget.find('#admin_coupon_CouponDetails_' + coupon_details_count + '_Product').val(product_id);
        $newWidget.find('#admin_coupon_CouponDetails_' + coupon_details_count + '_product_name').text(product_name);

        // 明細行に追加.
        list.append($newWidget);

        // カウンタを更新.
        coupon_details_count++;

        // モーダル閉じる.
        $('#searchProductModal').modal('hide');

        return false;
    }
</script>
<div class="table-responsive">
    <table class="table">
        <tbody>
        {% for Product in Products %}
            <form name="product_form{{ Product.id }}">
                {% set form = forms[Product.id] %}

                <tr>
                    <td>
                        {{ Product.name }}
                        {% if Product.hasProductClass %}
                            <span><br/>{{ Product.code_min }}～{{ Product.code_max }}</span>
                        {% else %}
                            <span><br/>{{ Product.code_min }}</span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <button onclick="fnAddProductDetail($(this).parent().parent(), {{ Product.id }},  '{{ Product.name }}')" type="button" class="btn btn-default btn-sm">
                            決定
                        </button>
                    </td>
                </tr>
            </form>
        {% endfor %}

        </tbody>
    </table>
</div>
