{#
 This file is part of the Coupon plugin

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 http://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<script type="text/javascript">
    $(function() {
        $('.coupon-submit').on('click', function() {
            $(this).prop('disabled', true);

            var code = $(this).data('coupon');
            if (code == 'cancel') {
                code = '';
            } else if (!code) {
                code = $('#shopping_order_coupon_cd').val();
            }

            $.ajax({
                url: "{{ url('plugin_coupon_shopping') }}",
                cache: false,
                type: 'POST',
                data: {'cd': code},
                dataType: 'json'
            }).done(function(data) {
                if (data == 'ok') {
                    $('#shopping-form').attr('action', '{{ url("shopping") }}').submit();
                } else if (data == 'cancel') {
                    alert("{{ 'plugin_coupon.front.shopping.cancel'|trans }}");
                    $('#shopping-form').attr('action', '{{ url("shopping") }}').submit();
                } else if (data == 'blank') {
                    alert("{{ 'plugin_coupon.front.shopping.blank'|trans }}");
                } else if (data == 'ng') {
                    alert("{{ 'plugin_coupon.front.shopping.notfound'|trans }}");
                } else if (data == 'useng') {
                    alert("{{ 'plugin_coupon.front.shopping.couponusetime'|trans }}");
                } else {
                    alert("{{ 'plugin_coupon.front.shopping.couponusetime'|trans }}");
                }
                return false;
            }).fail(function(data) {
                alert("{{ 'plugin_coupon.front.shopping.couponusetime'|trans }}");
            }).always(function(data) {
                $('.coupon-submit').prop('disabled', false);
            });
        });

        // append to layout
        $('.ec-orderConfirm').last().before($('#coupon').detach());
    })
</script>

<div id="coupon" class="ec-orderCoupon">
    <div class="ec-rectHeading">
        <h2>{{ 'plugin_coupon.front.shopping.header'|trans }}</h2>
    </div>
    <div id="customer_detail_box" class="column">
        {% if CouponOrder %}
            <strong class="text-danger">{{ 'plugin_coupon.front.shopping.message.use_code'|trans({'%code%': CouponOrder.coupon_cd }) }}</strong>
            <p>
                <button type="button" class="ec-inlineBtn coupon-submit" data-coupon="cancel">{{ 'plugin_coupon.front.shopping.button.cancel_coupon'|trans }}</button>
            </p>
        {% else %}
            {{ 'plugin_coupon.front.shopping.message.empty'|trans }}
            <p>
                {{ form_widget(form.coupon_cd, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.coupon_cd) }}
            </p>
            <p>
                <button type="button" id="coupon_button" class="ec-inlineBtn coupon-submit">{{ 'plugin_coupon.front.shopping.button.use_coupon'|trans }}</button>
            </p>
        {% endif %}
    </div>
</div>
